/****************** CSS reset *******************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #9FBD59;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../images/cursor.png), default;
  height: 100vh;
}


/******************* section ********************/

.bg-game, 
.bg-game-over 
{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  width: 1920px;
  height: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hole-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole {
  background-color: #000;
  border-radius: 50%;
  overflow: visible;
  width: 245px;
  height: 245px;
  margin: 15px;
}

.mole {
  position: relative;
  left: -35px;
  width: 315px;
}

.gone,
.hiden 
{
  display: none;
}

.hungry {
  cursor: url(../images/cursor-worm.png) , default;
}

.bg-game-over {
  background-image: url(../images/win.png);
  background-position: center center;
}

.score-box {
  width: 1660px;
}

.worm-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.worm {
  width: 1660px;
  height: 80px;
}
